MOBSANTE_E2E_BASE_URL=https://mobsante.netlify.app

MOBSANTE_E2E_COORDINATOR_EMAIL=
MOBSANTE_E2E_COORDINATOR_PASSWORD=

MOBSANTE_E2E_SITE_MANAGER_EMAIL=
MOBSANTE_E2E_SITE_MANAGER_PASSWORD=

MOBSANTE_E2E_STANDARD_EMAIL=
MOBSANTE_E2E_STANDARD_PASSWORD=
